:rootstyle {
    /* text colors */
--main-font: 'Roboto';
--secondary-font: 'Raleway';
    /* bg-colors */
}

body { color: #212121;
background-color: white;
font-family: 'Roboto', 'Raleway', sans-serif;}

/* common styles start */

.list {
    list-style: none;
}

/* header section */
.menu-nav li a {
text-decoration: none;
line-height: normal;}

.header-link a {
text-decoration: none;
line-height: normal;}

.logo {color: #2196F3;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;}

.logo:hover,
.logo:focus { text-decoration: underline;
}

.studio {color: #212121}

.menu-nav-list > li > a:hover,
.menu-nav-list > li > a:focus {text-decoration: underline;
}

.first-nav { color: rgba(33, 150, 243, 1);

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.scnd-nav { color: #212121;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.thrd-nav { color: #212121;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.contact-nav a {
text-decoration: none;
line-height: normal;}

.link-mail {color: rgba(33, 150, 243, 1);

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.tel-hd {color: rgba(117, 117, 117, 1);

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.bg-hdr {background-color: rgba(47, 48, 58, 1);}

.contact-nav > a:hover,
.contact-nav > a:focus {text-decoration: underline;
}

/* hero section */

h1 {color: rgba(255, 255, 255, 1);
    
font-weight: 900;
font-size: 44px;
line-height: 1.36;
    
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;}

.text-button {color: rgba(255, 255, 255, 1);

font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

cursor: pointer; 

background-color: rgba(33, 150, 243, 1);
justify-content: space-around;}

.text-button:hover,
.text-button:focus {
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}

/* features section  */

.attention-detail {color: rgba(33, 33, 33, 1); 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.punctuality {color: rgba(33, 33, 33, 1);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.planning {color: rgba(33, 33, 33, 1);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.tech {color: rgba(33, 33, 33, 1);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.idea-considerations {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.task-company{color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.consult{color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.significance-problem {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.what-we-do {color: rgba(33, 33, 33, 1);
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.pict-first {
    
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal; }

.pict-scnd {

background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

.pict-thrd {

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

.sect-team {background-color: rgba(245, 244, 250, 1);}

.team {color: #212121; 
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;} 

.employee-first {
background: url(4853.jpg);
border-radius: 0px;}

.name-ihor {color: rgba(33, 33, 33, 1);

font-weight: 500;
font-size: 16px;
line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;}

.designer{color: rgba(117, 117, 117, 1);
    
font-weight: 400;
font-size: 16px;
line-height: 1.19;
    
text-align: center;
letter-spacing: 0.03em;}

.employee-scnd {
background: url(5844.jpg);
border-radius: 0px;}

.name-olha{color: rgba(33, 33, 33, 1);
        
font-weight: 500;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}

.developer{color: rgba(117, 117, 117, 1);
        
font-weight: 400;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}

.employee-thrd {
background: url(16166.jpg);
border-radius: 0px;}

.name-nick {color: rgba(33, 33, 33, 1);
        
font-weight: 500;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}
        
.marketing{color: rgba(117, 117, 117, 1);
        
font-weight: 400;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}

.employee-fourth {    
background: url(2968.jpg);
border-radius: 0px;}

.name-michael {color: rgba(33, 33, 33, 1);

font-weight: 500;
font-size: 16px;
line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;}

.ui-Designer {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 16px;
line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;}

.footer-back a {
text-decoration: none;
line-height: normal;}

.logo-footer {color: #2196F3;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;}

.logo-footer:hover,
.logo-footer:focus { text-decoration: underline;
}

.studio-white {color: white;} 

.link-adr-ftr {color: rgba(255, 255, 255, 1);
text-decoration: none;

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.link-mail-ftr {color: rgba(255, 255, 255, 0.6);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.link-ph-ftr {color: rgba(255, 255, 255, 0.6);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.link-mail-ftr:hover,
.link-mail-ftr:focus {
text-decoration: underline;
}

.link-ph-ftr:hover,
.link-ph-ftr:focus {
text-decoration: underline;
}

.footer-back {background-color: rgba(47, 48, 58, 1);}

/* Portfolio page */
.first-nav-port { color: #212121;
    Font style: Medium
    Font size: 14px
    Line height: 16px
    Line height: 100%
    Align: Left
    Vertical align: Top
    Letter spacing: 2%}

.scnd-nav-port {color: #2196F3;}

.thrd-nav-port {color: #212121;}

.link-adr-ftr:hover,
.link-adr-ftr:focus {text-decoration: underline;
}

.button-all-main {background: #2196F3;
    /* shadow-middle */
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-all-sites {background: #F5F4FA;
    border-radius: 4px;}

.button-all-apps {background: #F5F4FA;
    border-radius: 4px;

}

.button-all-design {
    background: #F5F4FA;
    border-radius: 4px;
}

.button-all-marketing {
    background: #F5F4FA;
    border-radius: 4px;
}